Package: com.greyd00r.panel
Name: Panel
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Add a panel that is accessable via a swipe up from the bottom of the screen. This is just the backend loader for Panel Modules. 
Maintainer: grayd00r
Author: grayd00r
Section: Tweaks
Version: 0.0.1